body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: black;
}

#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#speechContainer {
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    font-size: 28px;
    color: #000000;
    margin: 0 0 30px;
}

#buttonContainer {
    margin-bottom: 20px;
}

button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #ff3c00;
}

#transcription {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
    height: 100px;
    max-width: 600px;
    margin: 20px auto 0;
}
